div.game-top {
    display: flex;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
}

div.circle {
    border-radius: 50%;
    border: 3px solid #000;
    display: inline-block;
    margin: 0 10px;
    height: 60px;
    width: 60px;
}

div.circle div {
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
}

span.nhnmn-round-text {
    font-size: 26px;
    padding: 10px 0;
}

div.nhnmn-hint {
    font-size: 26px;
    text-align: center;
    flex-grow: 1;
    padding: 10px 0;
    letter-spacing: 6px;
}


li.game-user-item > div {
    display: flex;
}

li.game-user-item:nth-child(even) > div {
    background-color: #bcbcbc;
}

li.game-user-item:nth-child(odd) > div {
    background-color: #dbdbdb;
}

li.game-user-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 6px;
}

li.game-user-item > div > div {
    text-align: center;
    flex-grow: 1;
    padding: 5px;
}

span.game-user-name {
    font-size: 24px;
}

div.game-container canvas {
    width: 100%;
    height: calc(100% - 55px);
    border: 1px solid #808080;
}

ul#game-msg-container > li {
    list-style: none;
}

div.game-chat input {
    width: calc(100% - 25px);
    font-size: 16px;
    padding: 6px;
}

div.nhnmn-btn {
    border-radius: 5px;
    background-color: white;
    margin: 0 3px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

div.nhnmn-btn img {
    width: 80%;
    height: 80%;
    margin: 3px;
}

div.nhnmn-toolbar {
    display: flex;
    background-color: #eeeeee;
    padding: 5px;
}


div#nhnmn-current-color {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    margin-right: 6px;
}

div#size-1 > div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 15px;
}

div#size-2 > div {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #000;
    margin: 10px;
}

div#size-3 > div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    margin: 5px;
}

div#nhnmn-colors > div > div {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

div#nhnmn-colors > div > div:hover {
    border: 2px solid #666;
}

#over-canvas {
    position: absolute;
    z-index: 2;
    background-color: rgba(99, 99, 99, 0.7);
    top: 0;
}

div.choice-container {
    display: flex;
    margin: 200px 0;
}

div.choice-container div {
    background-color: #fff;
    font-size: 24px;
    color: #000;
    margin: 20px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0.5s;
    flex: 1;
    text-align: center;
}

div.choice-container div:hover {
    background-color: rgb(188, 255, 241);
}