.login-container {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.login-form {
    width: 500px;
    background-color: #fff;
    opacity: 0.9;
    padding: 50px 40px;
    border-radius: 10px;
}
  
.login-form h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #111;
}
  
.textb {
    margin-bottom: 12px;
    position: relative;
}
  
.textb input {
    width: 100%;
    height: 70px;
    border: none;
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}
  
.placeholder {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    pointer-events: none;
    transition-duration: 0.3s;
}
  
.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder{
    font-size: 16px;
    left: 10px;
    top: -16px;
}

div.hint {
    font-size: 16px;
    color: #9d9d9d;
    padding: 12px 0 6px 0;
}

.login-btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #1a73e8;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}

.login-btn:hover {
    background-color: #1a65c8;
}

.info-container {
    color: #fff;
    font-size: 16px;
    background-color: #ff5661;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

div.checkbox {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

div.checkbox input {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    cursor: pointer;
}

form.login-form div a {
    margin-left: 10px;
    text-decoration: none;
    color: #257fe6;
    transition-duration: 0.5s;
}
