a {
    text-decoration: none !important;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E4E8EB;
}

div.main-container {
    height: 100%;
    flex: 6;
    background-color: #fff;
}

.flex {
    display: flex;
}

img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px;
    right: 30px;
}

/* Show the dropdown menu on hover */
div.profile:hover .dropdown-content {
    display: block;
}

div.dropdown-content div {
    font-size: 18px;
    cursor: pointer;
    padding: 6px;
}

div.dropdown-content div:hover {
    color: #1a73e8 !important;
    background-color: #ddd;
}

ul.sidebar li {
    list-style: none;
    padding: 6px;
}

ul.chat {
    padding: 10px;
}

ul.chat li {
    list-style: none;
}

div.msg {
    display: flex;
}


img.msg-avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    top: 0;
    left: 0;
}

span.msg-username {
    font-size: 20px;
    color: blue;
    padding: 0 10px 0 0;
}

span.msg-timestamp {
    font-size: 14px;
    color: gray;
}

p.msg-text {
    max-width: 40vw;
    margin: 0;
    font-size: 18px;
}

textarea {
    resize: none !important;
    border-radius: 6px 0 0 6px;
    font-size: 15px;
}

div.send-btn {
    padding: 20px;
    background-color: #4c8cf5;
    font-size: 20px;
    color: white;
    border-radius: 0 6px 6px 0;
    transition: 0.3s;
    position: sticky;
    top: 0;
}

div.send-btn:hover {
    background-color: #2765e0;
}

div.msg-user-action {
    text-align: center;
    margin: 16px 0;
}

div.msg-user-action span {
    background-color: #b1b1b1;
    font-size: 16px;
    color: #fff;
    padding: 6px;
    border-radius: 6px;
}